/* ******************* */
/* ------ Theme ------ */
/* ******************* */

/* Minimalist */

/* ********************** */
/* ------ Epigraph ------ */
/* ********************** */

/*
"[A]s we all know, CSS is like a bear cub: cute and inoffensive but when it grows it will eat you alive"
---Andrés Galante (https://css-tricks.com/a-complete-guide-to-css-media-queries/)
*/

/* ****************** */
/* ------ todo ------ */
/* ****************** */

/*
Convert to sass?
finish adding --variables to :root
make naming convention consistent, improve
*/

/* ******************* */
/* ---- Variables ---- */
/* ******************* */

:root {

    --darkgrey: #404040;
    --faintgrey: rgb(230, 230, 230);
    --grey: grey;
    --grey2: #d1d9e0;
    --lightgrey: lightgrey;
    --codelightblue: rgb(246, 248, 250);
    --whitesmoke: whitesmoke;
    --blue: blue;
    --blue2: #0366d6;

    --sm1: 2px;
    --sm2: 4px;
    --sm3: 6px;
    --sm4: 8px;
    --med1: 10px;
    --med2: 14px;
    --big1: 20px;
    --big2: 24px;
    --big3: 30px;
    --big5: 50px;
    --big8: 100px;
}

/* ******************* */
/* ------ Debug ------ */
/* ******************* */

/* Uncomment this for debugging! */
/*
div {
    border: 1px solid grey;
}
*/

/* ******************** */
/* ------ Layout ------ */
/* ******************** */

body {
    /*
    https://stackoverflow.com/questions/13127887/how-wide-is-the-default-body-margin
    "In most major browsers, the default margin is 8px on all sides.
    It is defined in pixels by the user-agent-stylesheet your browser provides."
    Ugh! There are default, invisible CSS rules messing things up!
    */
    margin: 0px;
    padding: 0px;
}

/*
The idea here is ssg-outer lines up
the nav and main as row elts by default;
an as column elts if cellphone view.
The 'height: 100vh; overflow: hidden;'
bit fixes the nav bar as a left sidebar -
i.e., it's "sticky".
Giving ssg-main 'overflow-y: auto;' makes
it scroll-able within the fixed frame of
ssg-outer
*/
.ssg-outer {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    overflow: hidden;
}
@media screen and (max-width: 500px) {
    .ssg-outer {
        display: flex;
        flex-flow: column nowrap;
        height: auto;
    }
}

/*
flex
This is the shorthand for flex-grow, flex-shrink and flex-basis combined.
The second and third parameters (flex-shrink and flex-basis) are optional.
The default is 0 1 auto
*/

/*
The idea here is the nav bar is rigid while
main is 'flex: 1 1 auto', so main will grow to fill the
remaining space of the row.
*/

.ssg-nav {
    border-right: 1px solid var(--faintgrey);
    /*
    background-color: aliceblue;
    */
    /* this is for the element */
    flex: 0 0 180px;
    overflow-y: auto;
    /* this is for the element's children */
    display: flex;
}
@media screen and (max-width: 500px) {
    .ssg-nav {
        /* This is the col view */
        border-right: none;
        border-bottom: 1px solid var(--faintgrey);
        /*
        Turn off scrolling overflow - should be moot bc hide element in mobile view
        (default is visible but ...)
        */
        overflow-y: hidden;
        /*
        In the col view, we want it to behave different - 
        namely, shrink as needed
        */
        flex: 0 1 auto;
    }
}

.ssg-main {
    /*
    background-color: var(--whitesmoke);
    */
    flex: 1 1 auto;
    overflow-y: auto;
}

/*
.ssg-nav {
    background-color: aliceblue;
    flex: 0 1 20%;
}
.ssg-main {
    background-color: pink;
    flex: 0 1 80%;
}
*/

.ssg-nav-inner {
    /*
    background-color: var(--lightgrey);
    */
    /* This is for the element */
    flex: 1 1 auto;
    /* This is for the element's children */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.ssg-navelt {
    margin-top: 8px;
}
@media (max-width: 500px) {
    .ssg-navelt {
        margin-top: 8px;
        margin-right: 8px;
    }
}

@media screen and (max-width: 500px) {
    .ssg-hidemobile {
        display: None;
    }
}

.ssg-showmobile {
    display: None;
}
@media screen and (max-width: 500px) {
    .ssg-showmobile {
        display: block;
    }
}

/* ******************** */
/* ------- Flex ------- */
/* ******************** */

.ssg-flx-row-strt {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.ssg-flx-row-strt-2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.ssg-flx-col-cnt {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.ssg-flx-col-strt {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.ssg-flx-col-end {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.ssg-flx-col2row {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
@media screen and (max-width: 500px) {
    .ssg-flx-col2row {
        display: flex;
        flex-flow: row wrap;
    }
}

.ssg-flx-row2col {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
@media screen and (max-width: 500px) {
    .ssg-flx-row2col {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
    }
}

.ssg-flx-row2col-nowrp {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
@media screen and (max-width: 500px) {
    .ssg-flx-row2col-nowrp {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
    }
}

.ssg-flx-spread {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.ssg-flx-child-1 {
    flex: 0 1 80%;
}

/* ******************** */
/* ------ Images ------ */
/* ******************** */

/*
This caps the img size at 1000px.
It's a little dangerous beause
the width of the image must not
exceed its container (main), and
the container width is not the same
as the screen width breakpoint (1100px) -
the container is smaller. If the nav bar
becomes too wide, this rule will be problematic.
Precise value depends on width of .ssg-nav
*/
.ssg-img {
    width: 100%;
}
@media screen and (min-width: 1200px) {
    .ssg-img {
        width: 1000px;
    }
}

@media screen and (max-width: 500px) {
    /* media query shrink */
    .ssg-mq-img {
        width: 90%;
    }
}

.ssg-imageholder {
    /* Image holder for full size img */
    margin-bottom: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.ssg-sectionimageholder {
    /* Image holder for section page */
    /*
    margin: 10px;
    */
    margin-right: 14px;
    margin-bottom: 14px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
@media screen and (max-width: 500px) {
    .ssg-sectionimageholder {
        margin-right: 0px;
    }
}

.ssg-img-circ {
    /* https://www.w3schools.com/howto/howto_css_rounded_images.asp */
    border-radius: 50%;
    border: 1px solid var(--lightgrey);
    /*
    width: 100px;
    */
    padding: 2px;
}

.ssg-img-small-circ {
    border-radius: 50%;
    border: 1px solid var(--lightgrey);
    width: 60px;
    padding: 2px;
}

.ssg-img-rounded-corner {
    border-radius: 5%;
    border: 1px solid var(--lightgrey);
    padding: 2px;
}

.ssg-img-r-flt {
    float: right;
    margin-left: 14px;
}
@media screen and (max-width: 500px) {
    .ssg-img-r-flt {
        float: none;
        margin-left: 0px;
    }
}

.ssg-img-l-flt {
    float: left;
    margin-right: 14px;
}
@media screen and (max-width: 500px) {
    .ssg-img-l-flt {
        float: none;
        margin-right: 0px;
    }
}

/* ******************* */
/* ----- Margins ----- */
/* ******************* */

.ssg-m-med1 {
    margin: var(--med1);
}

.ssg-m-med2 {
    margin: var(--med2);
}

/* bot */

.ssg-mb-sm1 {
    margin-bottom: var(--sm1);
}

.ssg-mb-sm3 {
    margin-bottom: var(--sm3);
}

.ssg-mb-med1 {
    margin-bottom: var(--med1);
}

.ssg-mb-med2 {
    margin-bottom: var(--med2);
}

.ssg-mb-big1 {
    margin-bottom: var(--big1);
}

.ssg-mb-big5 {
    margin-bottom: var(--big5);
}

/* top bot */

.ssg-mtb-med1 {
    margin-top: var(--med1);
    margin-bottom: var(--med1);
}

.ssg-mt-sm1-mb-big2 {
    margin-top: var(--sm1);
    margin-bottom: var(--big2);
}

.ssg-mq-mtb-bigtosm {
    margin-top: var(--big1);
    margin-bottom: var(--big1);
}
@media screen and (max-width: 500px) {
    .ssg-mq-mtb-bigtosm {
        margin-top: var(--sm3);
        margin-bottom: var(--sm3);
    }
}

/* top */

.ssg-mt-sm1 {
    margin-top: var(--sm1);
}

.ssg-mt-sm2 {
    margin-top: var(--sm2);
}

.ssg-mt-sm3 {
    margin-top: var(--sm3);
}

.ssg-mt-sm4 {
    margin-top: var(--sm4);
}

.ssg-mt-med1 {
    margin-top: var(--med1);
}

.ssg-mt-big3 {
    margin-top: var(--big3);
}

/* right */

.ssg-mr-sm3 {
    margin-right: var(--sm3);
}

.ssg-mr-med1 {
    margin-right: var(--med1);
}

/* left */

.ssg-ml-sm1 {
    margin-left: var(--sm1);
}

.ssg-ml-sm3 {
    margin-left: var(--sm3);
}

/* ******************* */
/* ----- Borders ----- */
/* ******************* */

.borderblack {
    border: 1px solid black;
}

.borderblack-sm {
    border: 2px solid black;
}

.borderblack-med {
    border: 4px solid black;
}

.bordergrey {
    border: 1px solid var(--grey);
}

.borderlightgrey {
    border: 1px solid var(--faintgrey);
}

.border-button {
    border: 1px solid var(--faintgrey);
    border-radius: 8px;
    padding: 2px;
}

/* ****************** */
/* ------ Text ------ */
/* ****************** */

.ssg-text1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 10px;
}

.ssg-text2s {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 12px;
}

.ssg-text2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 14px;
}

.ssg-text2m {
    /* m is for "more" */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.8;
}

.ssg-text3s {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
}

.serif3s {
    font-family: serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
}

.ssg-text3 {
    /* Make this serif-y */
    font-family: serif;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif; */
    font-size: 16px;
    font-weight: 500;
}

.ssg-text3a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.ssg-text3b {
    /* b is for "big" */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 18px;
}

.ssg-text3bb {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 20px;
    line-height: 1.8;
}

.ssg-serif {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 500;
}

.ssg-text3simple {
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: normal;
    line-height: 26px;
}

.ssg-textnews {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.8;
}

.ssg-textarticle {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 1.8;
}

.ssg-text4s {
    /* s is for "small" */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 20px;
}

.ssg-text4 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 24px;
}

.ssg-text5 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 32px;
}

.ssg-text6 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/* Inspired by Hugo PaperMod */
.ssg-text-papermod-sm {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.6;
}

.ssg-text-papermod {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 18px;
    line-height: 1.6;
}

.ssg-text-papermod-big {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 24px;
    line-height: 1.6;
}

.ssg-text-papermod-bbig {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 24px;
    font-weight: bold;
    line-height: 1.6;
}

.ssg-text-papermod-vbig {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 36px;
    line-height: 1.6;
}

.t10p {
    font-size: 10px;
}

.t12p {
    font-size: 12px;
}

.t18p {
    font-size: 18px;
}

.ssg-textwarn {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: red;
}

/* ********************************** */
/* ----- Colors and Backgrounds ----- */
/* ********************************** */

.colblack {
    color: black;
}

.colblue {
    color: var(--blue);
}

.colgrey {
    color: var(--grey);
}

.bgwhite {
    background-color: white;
}

.bgwhitesmoke {
    background-color: var(--whitesmoke);
}

.codeblock {
    background-color: var(--codelightblue);
    padding: 10px;
}

/* ***************** */
/* ----- Links ----- */
/* ***************** */

.nodecorate a {
    color: black;
    text-decoration: none;
}

.blackulinelink a {
    color: black;
    text-decoration: underline;
}

/* black link */
.blacklink a {
    color: black;
    text-decoration: none;
}

.blacklink a:link {
    color: black;
    text-decoration: none;
}

.blacklink a:visited {
    color: black;
    text-decoration: none;
}

.blacklink a:hover {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

/* grey link */
.greylink a {
    color: var(--darkgrey);
    text-decoration: none;
}

.greylink a:link {
    color: var(--darkgrey);
    text-decoration: none;
}

.greylink a:visited {
    color: var(--darkgrey);
    text-decoration: none;
}

.greylink a:hover {
    color: var(--darkgrey);
    text-decoration: underline;
    cursor: pointer;
}

/* ****************** */
/* ------ Menu ------ */
/* ****************** */

.ssg-dropdown-content {
    padding: 2px;
    border-radius: 8px;
    z-index: 1;
}

.ssg-vis-hide {
    visibility: hidden;
}

.ssg-vis-show {
    visibility: visible;
}

.ssg-dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

/* Note: this doesn't work for mobile */
.ssg-dropbtn:hover {
    cursor: pointer;
}

/* ****************** */
/* ----- Button ----- */
/* ****************** */

/* via Mozilla */
.btn-copy {
    border: none;
    border-radius: 0px;
    padding: 2px;
    cursor: pointer;
}

.btn-copy:active {
    color: var(--blue2);
}

/* A button-like div with a round-ish border */
.btn-like2 {
    border: 1px solid var(--grey2);
    border-radius: 6px;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

/* ******************* */
/* ----- Tooltip ----- */
/* ******************* */

.ssg-tooltip {
    display: none;
    width: 75px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    /*
    top: 50px;
    */
    z-index: 1;
}

/* ****************** */
/* ------ Misc ------ */
/* ****************** */

/* Table of contents */
.toc {
    margin-top: 10px;
}
